/* div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
button {
  background: red !important;
  color: white;
  border-radius: 20px !important;
  gap: 10px !important;
  border: none;
}
button:hover {
  background: lightblue !important;
  transition: 1s all ease;
  color: blue;
} */
